# Catberry files
.idea
.appDefinitions.js
node_modules
public/externals.js
public/app.js
npm-debug.log
# if you don't need any assets from public directory then uncomment this:
# public

# OS X
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
*.lnk
Desktop.ini

# Linux
*~
.directory

